<div class="ticker-list">
    <ul *ngFor="let ticker of tickers">
        <div class="col-md-7">
            <li>{{ticker.XXBTZUSD.a}}</li>
            <li>{{ticker.XXBTZUSD.b}}</li>
            <li>{{ticker.XXBTZUSD.c}}</li>
            <li>{{ticker.XXBTZUSD.v}}</li>
            <li>{{ticker.XXBTZUSD.p}}</li>
            <li>{{ticker.XXBTZUSD.t}}</li>
            <li>{{ticker.XXBTZUSD.l}}</li>
            <li>{{ticker.XXBTZUSD.h}}</li>
            <li>{{ticker.XXBTZUSD.o}}</li>
        </div> 
    </ul>
</div>